body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

input[type="file"] {
    margin: 20px 0;
    padding: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007BFF; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

#myResult {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

/* Centering the image */
#webcam-container {
    display: flex;               /* Use flexbox for centering */
    justify-content: center;     /* Center horizontally */
    align-items: center;         /* Center vertically if needed */
}

img {
    margin-top: 20px;
    border: 2px solid #007BFF; /* Border color matching button */
    border-radius: 5px; /* Rounded corners for the image */
}

/* Specific style for the resized image */
#myImage {
    width: 240px;   /* Set width to 24 pixels */
    height: 240px;  /* Set height to 24 pixels */
}
